body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

a:link {
  color: #231E27;
}

.header {
  align-content: center;
  line-height: 0.4;
}
