.resume
  .resume__contacts
    h1.resume__contacts-name Kholopova Tatiana
    h2.resume__contacts-title Frontend developer
    p.resume__contacts-link
      img.resume__contacts-icon(src='/assets/icons/logo-github.svg')
      a(href='https://github.com/dotnil') github.com/dotnil
    p.resume__contacts-link
      img.resume__contacts-icon(src='/assets/icons/envelope.svg')
      a(href='mailto:tskh.work@gmail.com') ts.khol@gmail.com

  p.resume__summary
    | I am a front-end developer. I write in Vue2/Vue3 and VanillaJS:
    | I cover my code with jest/vitest tests.
    br
    | Looking for a company with a possibility to learn and exchange experiences.
    | I prefer to use functional programming for my own projects,
    | I'm willing to learn the technologies of the team.
    | Agile is important to me.

  .resume__projects
    .resume__projects-item
      a.resume__projects-link(href='https://dotnil.github.io/todo/')
        span todo
        img.resume__projects-img.resume__projects-todo(src='assets/img/todo-preview.png')
    .resume__projects-item
      a.resume__projects-link.resume__projects-exercism(href='https://exercism.org/profiles/dotnil/solutions?order=newest_first')
        span exercism
        img.resume__projects-img(src='assets/img/exercism-preview.png')
    .resume__projects-item
      a.resume__projects-link.resume__projects-b2b-market(href='https://github.com/ksevelyar/market-vue.git')
        span b2b-market
        img.resume__projects-img.resume__projects-b2b-market(src='assets/img/b2b-market-preview.png')
